@page
@model JellyPages.Pages.Mel.IndexModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <style>
        body {
            background-image: url('images/MelIndexBackground.jpeg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #a594da;
        } 
        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        </style>
</head>
<body>
    <h1 >Bikini Bottom Phonebook</h1>

    <p>
        <a asp-page="Create" class="btn btn-warning btn-sm border border-dark" style="border-radius: 8px">Create New Resident</a>
    </p>

    <form>
        <p>
            <input type="search" asp-for="SearchString" style="border-radius: 8px" placeholder="Search" class="text-center text-dark" />
            <input type="submit" class="btn btn-success btn-sm border border-dark" style="border-radius: 8px" value="Filter" />
            <a asp-route-Index="" asp-route-SearchString="" class="btn btn-secondary btn-sm border border-dark" style="border-radius: 8px" class="border border-dark">Search Again</a>
        </p>
    </form>
    <div class="table-responsive-md" margin-top="50px" style="border-radius: 8px">
        <table class="table p-4" body style="background-color:white">
            <thead>
                <tr>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.FirstNameSort">
                            @Html.DisplayNameFor(model => model.Phonebook[0].FirstName)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.LastNameSort">
                            @Html.DisplayNameFor(model => model.Phonebook[0].LastName)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.AddressSort">
                            @Html.DisplayNameFor(model => model.Phonebook[0].Address)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.PhoneSort">
                            @Html.DisplayNameFor(model => model.Phonebook[0].Phone)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index" asp-route-sortOrder="@Model.EmailSort">
                            @Html.DisplayNameFor(model => model.Phonebook[0].Email)
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Phonebook) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-warning btn-sm border border-dark" style="border-radius: 8px">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-success btn-sm border border-dark" style="border-radius: 8px">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-danger btn-sm border border-dark" style="border-radius: 8px">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>